{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <div>
                <h1>TOP 10 des meilleurs films</h1>
                <p>👇 Scroll down to see the effect.</p>
            </div>
        </header>
        <main>
            <ul id="cards">
                <li class="card" id="card_1">
                    <div class="card__content">
                        <div>
                            <h2>Card One</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p><a href="#top" class="btn btn--accent">Read more</a></p>
                        </div>
                        <figure>
                            <img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-1.jpg" alt="Image description">
                        </figure>
                    </div>
                </li>
                <li class="card" id="card_2">
                    <div class="card__content">
                        <div>
                            <h2>Card Two</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p><a href="#top" class="btn btn--accent">Read more</a></p>
                        </div>
                        <figure>
                            <img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
                        </figure>
                    </div>
                </li>
                <li class="card" id="card_3">
                    <div class="card__content">
                        <div>
                            <h2>Card Three</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p><a href="#top" class="btn btn--accent">Read more</a></p>
                        </div>
                        <figure>
                            <img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-3.jpg" alt="Image description">
                        </figure>
                    </div>
                </li>
                <li class="card" id="card_4">
                    <div class="card__content">
                        <div>
                            <h2>Card Four</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            <p><a href="#top" class="btn btn--accent">Read more</a></p>
                        </div>
                        <figure>
                            <img src="https://codyhouse.co/demo-tutorials/stacking-cards/assets/img/img-2.jpg" alt="Image description">
                        </figure>
                    </div>
                </li>
            </ul>
        </main>
        <aside>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, ipsam molestias. Fuga similique, dolor tempora rerum perferendis ipsam ullam doloribus beatae esse facilis quae sit excepturi expedita non, sunt accusantium magnam? Animi nesciunt nostrum eligendi iusto voluptatum hic qui. Quod distinctio qui nobis et doloremque. Fuga, itaque? Laborum dignissimos nobis quaerat optio voluptatum similique unde, neque cupiditate, vel, fugiat dolore? Accusantium neque deserunt ducimus enim, illum laborum magni ipsam eos optio aspernatur nam necessitatibus quod natus, dolor laboriosam illo velit.</p>
        </aside>
        <script type="text/javascript" src="{% static 'js/.js' %}"></script>
    </body>
</html>